<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.AirportTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testGetTransportMilitaryPlanes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetPassengerPlaneWithMaxCapacity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testExperimentalPlanesHasClassificationLevelHigherThanUnclassified</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testHasAtLeastOneBomberInMilitaryPlanes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSortingByMaxLoadCapacity</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
