<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c93a1">  <td>19/09/05 16:38:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirportTest.testExperimentalPlanesHasClassificationLevelHigherThanUnclassified(planes.ExperimentalPlane)[pri:0, instance:test.AirportTest@ca263c2]">testExperimentalPlanesHasClassificationLevelHigherThanUnclassified</td> 
  <td>main@6320204</td>   <td></td> </tr>
<tr bgcolor="8c93a1">  <td>19/09/05 16:38:46</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirportTest.testExperimentalPlanesHasClassificationLevelHigherThanUnclassified(planes.ExperimentalPlane)[pri:0, instance:test.AirportTest@ca263c2]">testExperimentalPlanesHasClassificationLevelHigherThanUnclassified</td> 
  <td>main@6320204</td>   <td></td> </tr>
<tr bgcolor="8c93a1">  <td>19/09/05 16:38:46</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirportTest.testGetPassengerPlaneWithMaxCapacity()[pri:0, instance:test.AirportTest@ca263c2]">testGetPassengerPlaneWithMaxCapacity</td> 
  <td>main@6320204</td>   <td></td> </tr>
<tr bgcolor="8c93a1">  <td>19/09/05 16:38:46</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirportTest.testGetTransportMilitaryPlanes()[pri:0, instance:test.AirportTest@ca263c2]">testGetTransportMilitaryPlanes</td> 
  <td>main@6320204</td>   <td></td> </tr>
<tr bgcolor="8c93a1">  <td>19/09/05 16:38:46</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirportTest.testHasAtLeastOneBomberInMilitaryPlanes()[pri:0, instance:test.AirportTest@ca263c2]">testHasAtLeastOneBomberInMilitaryPlanes</td> 
  <td>main@6320204</td>   <td></td> </tr>
<tr bgcolor="8c93a1">  <td>19/09/05 16:38:46</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AirportTest.testSortingByMaxLoadCapacity()[pri:0, instance:test.AirportTest@ca263c2]">testSortingByMaxLoadCapacity</td> 
  <td>main@6320204</td>   <td></td> </tr>
</table>
